pdb/**
backbone/**
binary/**
original_sol/**
*.pyc
df_total.tex
pdb_entry_type.txt
df_count_slices.csv
pickled_binary
pickled_original_sol
.venv/**
ddgp/**
bsol/**
xsol/**
dmdgp/**
prune_bsol/**
xbsol/**
df_prune.pkl
dmdgp_leftmost/**
xbsol_leftmost/**
bp.exe
bp.o
prompt_content.json
df_dmdgp_leftmost.pkl
sbbu.exe
sbbu/RESULTS/test_2020_02_14_DMAX_50.log
sbbu/RESULTS/test_2020_02_14_DMAX_60.log
sbbu/DATA_EPSD_00_DMAX_50/**
sbbu/DATA_EPSD_00_DMAX_60/**
sbbu/RESULTS/DATA_EPSD_00_DMAX_50.csv
sbbu/RESULTS/DATA_EPSD_00_DMAX_50.log
sbbu/RESULTS/DATA_EPSD_00_DMAX_60.csv
sbbu/RESULTS/DATA_EPSD_00_DMAX_60.log

solvers/sbbu/sbbu_dbg.exe
dmdgp_HA9H/**
dmdgp_HA9H_copy1/**
dmdgp_HA9H_sbbu/**
df_train.pkl
df_train.csv
test_files.txt
results/dfs/**
results/fbs/**
results/speed_ups/**
dmdgp_HA9H_bsol/**
prune_edges/**
speedups/**
